{% extends "base.html" %}
 {% block head_title %}
 Secuirty is Our Priorty
  {% endblock head_title %}
{% load crispy_forms_tags %}
{% block content %}
{% if request.user.is_authenticated %}
<div style="color:grey">
<br>
<span></span>
<img class="ml-5 mt-5" src="/media/waller/clo.png" style="width:500px;height:400px"/>
<form class="mt-5" style="margin-right:400px;float:right;width:350px" method="post">
  {% csrf_token %}
  {{ form | crispy | linebreaks }}
  <button type="submit" style="border:none" class="btn btn-block btn-outline-success">Save Changes</button>
</form>
<h6 style="font-family:sans-serif;width:300px" class="ml-5 mt-4 mb-4"> Please Choose a Secure and Special
  Password, <hr>
  Keeping your Data Authentic In This Age of Information is Vital to Your Online Secuirty 
  <hr> Stay Secure, and Spread Your Message
</h6>

</div>
  {% endif %}
{% endblock content %}

