{% extends "base.html" %}
{% block content %}
<div style="background-color:#f2f2f2;margin-top:50px">
  <h2 class="ml-5" style="font-size:80px;font-weight:bold;color:white">
  <br><img class="mt-5 mb-5" src="/media/parking/scroll.png" style="width:100px;height:100px"/>
  {{title}}</h2>
 <br><br><br><br>  
</div>


<center style="background-color:#EEF9FF">
 <br><br><br>🇹🇭🇪 🇦🇨🇹 🇴🇫 🇸🇭🇦🇷🇮🇳🇬 🇸🇹🇴🇷🇮🇪🇸, 🇮🇩🇪🇦🇸, 🇦🇳🇩 🇪🇻🇪🇳 🇹🇭🇴🇺🇬🇭🇹🇸 🇴🇫 🇹🇭🇪 🇲🇴🇲🇪🇳🇹, <br>🇼🇮🇹🇭 🇹🇭🇪 🇺🇳🇮🇻🇪🇷🇸🇪<br><br>
  <img style="transform:rotate(20deg);width:70px;height:70px" src="/media/parking/rock.png" />
  
🇹🇭🇮🇸 🇸🇴🇫🇹🇼🇦🇷🇪 🇮🇸 🇦🇳 🇪🇩🇺🇨🇦🇹🇮🇴🇳🇦🇱/🇷🇪🇸🇪🇦🇷🇨🇭 🇵🇷🇴🇯🇪🇨🇹<br> 🇨🇷🇪🇦🇹🇪🇩 🇮🇳 🇦🇳 🇪🇫🇫🇴🇷🇹 🇹🇴 🇭🇪🇱🇵 🇴🇹🇭🇪🇷🇸 🇪🇽🇨🇪🇷🇨🇮🇸🇪 🇹🇭🇪🇮🇷 🇷🇮🇬🇭🇹 🇴🇫 🇫🇷🇪🇪 🇸🇵🇪🇪🇨🇭
 <br><br><br>
 <br><br><br>
 <br><br><br>
  <div class="jumbotron shadow" style="height:25vh;background-color:#ccecff;width:100%;color:#fff">
    <h5 style="float:left" class="ml-5">
        '🇨🇴🇲🇵🇪🇹🇮🇹🇮🇴🇳 🇦🇩 🇫🇪🇷🇷🇺🇲 🇫🇪🇷🇷🇴 🇸🇭🇦🇷🇵🇪🇳🇸'  <img src="/media/parking/float.png"
      style="width:90px;height:90px"/>
      🇹🇭🇪 <strong style="color:#ff6666">🇷🇴🇨🇰🇪🇹</strong> <strong style="color:#ffb366">🇷🇦🇳🇰</strong>, 🇦 🇷🇪🇫🇱🇪🇨🇹🇮🇴🇳 🇴🇫 🇾🇴🇺🇷 🇦🇨🇨🇴🇺🇳🇹🇸 🇮🇳🇹🇪🇷🇦🇨🇹🇮🇴🇳🇸 🇮🇳 🇹🇭🇪 🇳🇴🇬🇬🇮🇳🇹🇴🇸🇸 🇨🇴🇲🇲🇺🇳🇮🇹🇾 
  </h5>
  </div>                                                                         
  <br><strong style=";color:grey">Badge Ranking Progression Increases As Members Create , Share, Salute, and Discuss with Other Members <br>
  <img src="/media/parking/potion.gif" style="width:600px;height:400px"/>       
  
    <br><br>Please Keep in Mind, that Everyone has a Different Persepective on how they View, and Create Noggins <br><br>
    <br><br>
    "Unfit" Noggins contain the Following: <br>Hate Speech or Slur, Spam or Content that is Deemed Malicous by an Admin , 
  Abusive or Harmful Content ,<br> or any misleading Information about an Individual or Organization <br> All Noggins that are Deemed "Unfit" are Deleted Immediately 
  </strong>
 <br><br><br>
  <h6 style="font-size:10px;color:grey;width:200px">
  None of the contributors, sponsors, administrators or anyone else connected with NogginToss in any way 
    whatsoever can be responsible for the appearance of any inaccurate or libelous information or for your
    use of the information contained in or linked from these web pages.
  </h6>
 <br><br><br>
 <br><br><br>
 <small style="color:grey">🇳🇴🇬🇬🇮🇳🇹🇴🇸🇸 🇦🇨🇰🇳🇴🇼🇱🇪🇩🇬🇪🇸 ᴛʜᴇꜱᴇ 🇫🇦🇳🇹🇦🇸🇹🇮🇨 ᴛᴇᴄʜɴᴏʟᴏɢɪᴇꜱ</small>
  <br>
  
  <img class="mt-5 mb-5" src="/media/parking/apache.png" />
  <img class="mt-5 ml-5 mr-5 mb-5" src="/media/parking/ubuntu.png" style="width:145px;height:145px"/>
  <img class="mt-5 mb-5" src="/media/parking/do.png" style="width:100px;height:100px" />

  <br><br><img class="mt-5 mb-5" src="/media/ssllogo.png" style="opacity:.8;width:25px;height:35px"/>
  </center>
{% endblock content %}

