
<center style='color:grey;margin-top:200px;font-family:sans-serif'>
    <img src="/media/parking/float.png" style="width:250px;height:250px"/>
    <h3>A Confirmation Email Was Sent <br><br> If You have trouble Finding Our
  Email <br> Please Try Entering your Confirmed Email Again <br><br> By Clicking The Forgot Password
  Button At the Loggin Menu <br><br> Please Follow the instructions on the Email ,You are now being
sent to the Loggin Page</h3>
<meta http-equiv = "refresh" content = "10; url = /login" />
</center>


