{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<center><br><br><br>
<img style="margin-top:70px;width:100px;height:100px" src="/media/react/toss.png"/>
<h6 style=";width:500px"> If you Have Forgotten Your Password,
  Please Enter The Email Connected to Your Account , A confirmation Email with a set of instructions on how to Recover Your
  Password Will be Sent to You ...<br> Goodluck, We Hope to see you back at NogginToss Soon</h6>

<form class="mt-5" style="width:400px" method="post">
  {% csrf_token %}
  {{form | crispy}}
  <input value="Send" class="btn btn-outline-light" style="color:#ff6666" type="submit" name="Send email"/>
</form>
</center>
{% endblock content %}


